@import "tailwindcss";
:root {
  font-family: "Twemoji Country Flags", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Noto Sans", system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@theme {
  --color-product-library-actionable-destructive-disabled-fill: #f1b7b2;
  --color-product-library-actionable-destructive-disabled-tint: #f1b7b2;
  --color-product-library-actionable-destructive-hover-fill: #b03d32;
  --color-product-library-actionable-destructive-hover-tint: #b03d32;
  --color-product-library-actionable-destructive-idle-fill: #dc4c3e;
  --color-product-library-actionable-destructive-idle-tint: #dc4c3e;
  --color-product-library-actionable-destructive-on-disabled-tint: #fff;
  --color-product-library-actionable-destructive-on-hover-tint: #fff;
  --color-product-library-actionable-destructive-on-idle-tint: #fff;
  --color-product-library-actionable-focus-fill: #eee;
  --color-product-library-actionable-focus-tint: #dc4c3e;
  --color-product-library-actionable-primary-disabled-fill: #eda59e;
  --color-product-library-actionable-primary-hover-fill: #c3392c;
  --color-product-library-actionable-primary-idle-fill: #d33322;
  --color-product-library-actionable-primary-on-dark-disabled-fill: #4c2827;
  --color-product-library-actionable-primary-on-dark-hover-fill: #e36564;
  --color-product-library-actionable-primary-on-dark-idle-fill: #dc4c3e;
  --color-product-library-actionable-primary-on-dark-on-disabled-tint: #797979;
  --color-product-library-actionable-primary-on-dark-on-hover-tint: #fff;
  --color-product-library-actionable-primary-on-dark-on-idle-tint: #fff;
  --color-product-library-actionable-primary-on-disabled-tint: #fff;
  --color-product-library-actionable-primary-on-hover-tint: #fff;
  --color-product-library-actionable-primary-on-idle-tint: #fff;
  --product-library-actionable-quaternary-disabled-tint: #b2b2b2;
  --color-product-library-actionable-quaternary-hover-fill: rgba(0, 0, 0, 0.04);
  --color-product-library-actionable-quaternary-hover-tint: #1a1a1a;
  --color-product-library-actionable-quaternary-idle-tint: #666;
  --color-product-library-actionable-quaternary-selected-fill: rgba(0, 0, 0, 0.1);
  --color-product-library-actionable-quaternary-on-dark-disabled-tint: #4d4d4d;
  --color-product-library-actionable-quaternary-on-dark-hover-fill: #424242;
  --color-product-library-actionable-quaternary-on-dark-hover-tint: #fff;
  --color-product-library-actionable-quaternary-on-dark-idle-tint: #9d9d9d;
  --color-product-library-actionable-quaternary-on-dark-selected-fill: #575757;
  --color-product-library-actionable-quaternary-on-dark-on-hover-fill: #424242;
  --color-product-library-actionable-quaternary-on-dark-on-hover-tint: #fff;
  --color-product-library-actionable-quaternary-on-dark-on-selected-tint: #fff;
  --color-product-library-actionable-quaternary-on-hover-fill: #d3d3d3;
  --color-product-library-actionable-quaternary-on-hover-tint: #1a1a1a;
  --color-product-library-actionable-quaternary-on-selected-tint: #1a1a1a;
  --color-product-library-actionable-secondary-disabled-fill: rgba(0, 0, 0, 0.02);
  --color-product-library-actionable-secondary-hover-fill: rgba(0, 0, 0, 0.07);
  --color-product-library-actionable-secondary-idle-fill: rgba(0, 0, 0, 0.04);
  --color-product-library-actionable-secondary-idle-tint: #e1e1e1;
  --color-product-library-actionable-secondary-on-dark-disabled-fill: #383838;
  --color-product-library-actionable-secondary-on-dark-hover-fill: #666;
  --color-product-library-actionable-secondary-on-dark-idle-fill: #4d4d4d;
  --color-product-library-actionable-secondary-on-dark-idle-tint: gray;
  --color-product-library-actionable-secondary-on-dark-on-disabled-tint: #737373;
  --color-product-library-actionable-secondary-on-dark-on-hover-tint: #fff;
  --color-product-library-actionable-secondary-on-dark-on-idle-tint: #fff;
  --color-product-library-actionable-secondary-on-disabled-tint: #999;
  --color-product-library-actionable-secondary-on-hover-tint: #1a1a1a;
  --color-product-library-actionable-secondary-on-idle-tint: #444;
  --color-product-library-actionable-tertiary-disabled-tint: #b2b2b2;
  --color-product-library-actionable-tertiary-hover-fill: rgba(0, 0, 0, 0.04);
  --color-product-library-actionable-tertiary-hover-tint: #b03d32;
  --color-product-library-actionable-tertiary-idle-tint: #d33322;
  --color-product-library-actionable-tertiary-on-dark-disabled-tint: #575757;
  --color-product-library-actionable-tertiary-on-dark-hover-fill: #3d3d3d;
  --color-product-library-actionable-tertiary-on-dark-hover-tint: #ff7f74;
  --color-product-library-actionable-tertiary-on-dark-idle-tint: #ffaaa1;
  --color-product-library-actionable-tertiary-on-dark-on-hover-fill: #ffaaa1;
  --color-product-library-actionable-tertiary-on-dark-on-hover-tint: #ffaaa1;
  --color-product-library-actionable-tertiary-on-hover-fill: #dc4c3e;
  --color-product-library-actionable-tertiary-on-hover-tint: #dc4c3e;
  --color-product-library-background-base-primary: #fff;
  --color-product-library-background-base-secondary: #fcfaf8;
  --color-product-library-background-base-tertiary: #f8f5f2;
  --color-product-library-background-grouped-primary: #fff;
  --color-product-library-background-grouped-secondary: #faf7f4;
  --color-product-library-background-grouped-tertiary: #f6f2ee;
  --color-product-library-background-overlay: rgba(0, 0, 0, 0.4);
  --color-product-library-background-raised-primary: #fff;
  --color-product-library-background-raised-quaternary: #282828;
  --color-product-library-background-raised-secondary: #fafafa;
  --color-product-library-background-raised-tertiary: #eeedec;
  --color-product-library-border-focus-tint: #b8b8b8;
  --color-product-library-border-hover-tint: #ccc;
  --color-product-library-border-idle-tint: #e6e6e6;
  --color-product-library-display-accent-primary-fill: #dc4c3e;
  --color-product-library-display-accent-primary-tint: #d33322;
  --color-product-library-display-accent-secondary-fill: #fde7d8;
  --color-product-library-display-focus-fill: #eee;
  --color-product-library-display-primary-idle-tint: #202020;
  --color-product-library-display-primary-on-dark-fill: #666;
  --color-product-library-display-primary-on-dark-tint: #fff;
  --color-product-library-display-quaternary-idle-tint: #e5e5e5;
  --color-product-library-display-secondary-idle-tint: #666;
  --color-product-library-display-secondary-on-dark-tint: #b3b3b3;
  --color-product-library-display-tertiary-idle-tint: #999;
  --color-product-library-divider-primary: #eee;
  --color-product-library-divider-secondary: #f5f5f5;
  --color-product-library-divider-tertiary: #d3d3d3;
  --color-product-library-divider-on-dark: #666;
  --color-product-library-info-attention-primary-idle-fill: #dc4c3e;
  --color-product-library-info-attention-primary-idle-tint: #dc4c3e;
  --color-product-library-info-attention-primary-on-dark-idle-fill: #e06155;
  --color-product-library-info-attention-primary-on-idle-tint: #fff;
  --color-product-library-info-attention-secondary-idle-fill: #fbe9e7;
  --color-product-library-info-attention-secondary-on-idle-tint: #cf473a;
  --color-product-library-info-neutral-primary-idle-fill: #316fea;
  --color-product-library-info-neutral-primary-on-dark-idle-fill: #4180ff;
  --color-product-library-info-neutral-primary-on-idle-tint: #fff;
  --color-product-library-info-neutral-secondary-idle-fill: gray;
  --color-product-library-info-neutral-secondary-idle-tint: #5e5e5e;
  --color-product-library-info-neutral-secondary-on-idle-tint: #fff;
  --color-product-library-info-neutral-tertiary-focus-fill: #5e5e5e;
  --color-product-library-info-neutral-tertiary-idle-fill: #eee;
  --color-product-library-info-neutral-tertiary-on-focus-tint: #1a1a1a;
  --color-product-library-info-neutral-tertiary-on-idle-tint: #5e5e5e;
  --color-product-library-info-positive-primary-idle-fill: #058527;
  --color-product-library-info-positive-primary-idle-tint: #058527;
  --color-product-library-info-positive-primary-on-dark-idle-fill: #08a531;
  --color-product-library-info-positive-primary-on-idle-tint: #fff;
  --color-product-library-info-positive-secondary-idle-fill: #e6f3e9;
  --color-product-library-info-positive-secondary-on-idle-tint: #058527;
  --color-product-library-info-promote-primary-idle-fill: #f48318;
  --color-product-library-info-promote-primary-on-idle-tint: #fff;
  --color-product-library-info-promote-quaternary-idle-fill: #fffaf4;
  --color-product-library-info-promote-quaternary-on-idle-tint: #fae8d6;
  --color-product-library-info-promote-secondary-idle-fill: #ffd093;
  --color-product-library-info-promote-tertiary-idle-fill: #faead1;
  --color-product-library-info-promote-tertiary-on-idle-tint: #8f4700;
  --color-product-library-info-warning-primary-focus-fill: #f6d9ac;
  --color-product-library-info-warning-primary-idle-fill: #faead1;
  --color-product-library-info-warning-primary-on-dark-idle-fill: #ff8c1a;
  --color-product-library-info-warning-primary-on-idle-fill: #eb8909;
  --color-product-library-info-warning-primary-on-idle-tint: #8f4700;
  --color-product-library-info-warning-primary-on-idle-fill-tint: #fff;
  --color-product-library-meta-berry-fill: #b8255f;
  --color-product-library-meta-berry-tint: #d43876;
  --color-product-library-meta-blue-fill: #2a67e2;
  --color-product-library-meta-blue-tint: #4180ff;
  --color-product-library-meta-charcoal-fill: gray;
  --color-product-library-meta-charcoal-tint: gray;
  --color-product-library-meta-grape-fill: #692ec2;
  --color-product-library-meta-grape-tint: #692ec2;
  --color-product-library-meta-green-fill: #369307;
  --color-product-library-meta-green-tint: #369307;
  --color-product-library-meta-grey-fill: #999;
  --color-product-library-meta-grey-tint: #999;
  --color-product-library-meta-lavender-fill: #eb96c8;
  --color-product-library-meta-lavender-tint: #a4698c;
  --color-product-library-meta-light-blue-fill: #96c3eb;
  --color-product-library-meta-light-blue-tint: #6988a4;
  --color-product-library-meta-lime-green-fill: #7ecc48;
  --color-product-library-meta-lime-green-tint: #65a33a;
  --color-product-library-meta-magenta-fill: #e05095;
  --color-product-library-meta-magenta-tint: #e05095;
  --color-product-library-meta-mint-green-fill: #52ccb8;
  --color-product-library-meta-mint-green-tint: #42a393;
  --color-product-library-meta-olive-green-fill: #aeb83a;
  --color-product-library-meta-olive-green-tint: #949c31;
  --color-product-library-meta-orange-fill: #f48318;
  --color-product-library-meta-orange-tint: #c77100;
  --color-product-library-meta-red-fill: #dc4c3e;
  --color-product-library-meta-red-tint: #ea584a;
  --color-product-library-meta-salmon-fill: #c9766f;
  --color-product-library-meta-salmon-tint: #ff8e84;
  --color-product-library-meta-sky-blue-fill: #3ab9e2;
  --color-product-library-meta-sky-blue-tint: #319dc0;
  --color-product-library-meta-taupe-fill: #ccae96;
  --color-product-library-meta-taupe-tint: #8f7a69;
  --color-product-library-meta-teal-fill: #148fad;
  --color-product-library-meta-teal-tint: #148fad;
  --color-product-library-meta-violet-fill: #ac30cc;
  --color-product-library-meta-violet-tint: #ca3fee;
  --color-product-library-meta-yellow-fill: #fecf05;
  --color-product-library-meta-yellow-tint: #b29104;
  --color-product-library-priorities-p1-primary-disabled-fill: #edb5b1;
  --color-product-library-priorities-p1-primary-disabled-tint: #edb5b1;
  --color-product-library-priorities-p1-primary-idle-fill: #d1453b;
  --color-product-library-priorities-p1-primary-idle-tint: #d1453b;
  --color-product-library-priorities-p1-primary-on-disabled-tint: #fff;
  --color-product-library-priorities-p1-primary-on-idle-tint: #fff;
  --color-product-library-priorities-p1-secondary-disabled-fill: #ffebe9;
  --color-product-library-priorities-p1-secondary-hover-fill: #ffc6c2;
  --color-product-library-priorities-p1-secondary-idle-fill: #ffd6d3;
  --color-product-library-priorities-p1-secondary-selected-fill: #d1453b;
  --color-product-library-priorities-p1-secondary-on-selected-tint: #fff;
  --color-product-library-priorities-p2-primary-disabled-fill: #f7d09d;
  --color-product-library-priorities-p2-primary-disabled-tint: #f7d09d;
  --color-product-library-priorities-p2-primary-idle-fill: #eb8909;
  --color-product-library-priorities-p2-primary-idle-tint: #eb8909;
  --color-product-library-priorities-p2-primary-on-disabled-tint: #fff;
  --color-product-library-priorities-p2-primary-on-idle-tint: #fff;
  --color-product-library-priorities-p2-secondary-disabled-fill: #fdf3e7;
  --color-product-library-priorities-p2-secondary-hover-fill: #f9dcb8;
  --color-product-library-priorities-p2-secondary-idle-fill: #fbe7ce;
  --color-product-library-priorities-p2-secondary-selected-fill: #b26500;
  --color-product-library-priorities-p2-secondary-on-selected-tint: #fff;
  --color-product-library-priorities-p3-primary-disabled-fill: #a7c5f3;
  --color-product-library-priorities-p3-primary-disabled-tint: #a7c5f3;
  --color-product-library-priorities-p3-primary-idle-fill: #246fe0;
  --color-product-library-priorities-p3-primary-idle-tint: #246fe0;
  --color-product-library-priorities-p3-primary-on-disabled-tint: #fff;
  --color-product-library-priorities-p3-primary-on-idle-tint: #fff;
  --color-product-library-priorities-p3-secondary-disabled-fill: #eef3fc;
  --color-product-library-priorities-p3-secondary-hover-fill: #cfdcf7;
  --color-product-library-priorities-p3-secondary-idle-fill: #dde6f9;
  --color-product-library-priorities-p3-secondary-selected-fill: #246fe0;
  --color-product-library-priorities-p3-secondary-on-selected-tint: #fff;
  --color-product-library-priorities-p4-primary-disabled-fill: #d6d6d6;
  --color-product-library-priorities-p4-primary-disabled-tint: #ccc;
  --color-product-library-priorities-p4-primary-idle-fill: #999;
  --color-product-library-priorities-p4-primary-idle-tint: #999;
  --color-product-library-priorities-p4-primary-on-disabled-tint: #fff;
  --color-product-library-priorities-p4-primary-on-idle-tint: #fff;
  --color-product-library-priorities-p4-secondary-disabled-fill: #f9f7f6;
  --color-product-library-priorities-p4-secondary-hover-fill: #e8e5e3;
  --color-product-library-priorities-p4-secondary-idle-fill: #f2efed;
  --color-product-library-priorities-p4-secondary-selected-fill: #7a7a7a;
  --color-product-library-priorities-p4-secondary-on-selected-tint: #fff;
  --color-product-library-schedule-next-week-fill: #692ec2;
  --color-product-library-schedule-next-week-tint: #692ec2;
  --color-product-library-schedule-no-date-fill: #b8b8b8;
  --color-product-library-schedule-no-date-tint: gray;
  --color-product-library-schedule-overdue-fill: #ca4c3e;
  --color-product-library-schedule-overdue-tint: #d1453b;
  --color-product-library-schedule-postpone-fill: #246fe0;
  --color-product-library-schedule-postpone-tint: #246fe0;
  --color-product-library-schedule-today-fill: #4b9244;
  --color-product-library-schedule-today-tint: #058527;
  --color-product-library-schedule-tomorrow-fill: #ad6200;
  --color-product-library-schedule-tomorrow-tint: #ad6200;
  --color-product-library-schedule-weekend-fill: #246fe0;
  --color-product-library-schedule-weekend-tint: #246fe0;
  --color-product-library-selectable-background: #f5f5f5;
  --color-product-library-selectable-primary-disabled-tint: #e5e5e5;
  --color-product-library-selectable-primary-selected-fill: #dc4c3e;
  --color-product-library-selectable-primary-selected-tint: #dc4c3e;
  --color-product-library-selectable-primary-unselected-fill: #b3b3b3;
  --color-product-library-selectable-primary-unselected-tint: #666;
  --color-product-library-selectable-primary-on-dark-hover-fill: #3d3d3d;
  --color-product-library-selectable-primary-on-dark-selected-fill: #666;
  --color-product-library-selectable-primary-on-selected-fill: #fff;
  --color-product-library-selectable-primary-on-selected-tint: #fff;
  --color-product-library-selectable-primary-on-unselected-fill: #fff;
  --color-product-library-selectable-secondary-hover-fill: #f2efed;
  --color-product-library-selectable-secondary-idle-tint: #202020;
  --color-product-library-selectable-secondary-selected-fill: #ffefe5;
  --color-product-library-selectable-secondary-on-selected-fill: #dc4c3e;
  --color-product-library-selectable-secondary-on-selected-tint: #a81f00;
  --color-product-library-selectable-tertiary-selected-fill: #fff;
  --color-product-library-selectable-tertiary-selected-tint: #fff;
  --color-product-library-selectable-tertiary-on-selected-disabled-fill: #999;
  --color-product-library-selectable-tertiary-on-selected-disabled-tint: #999;
  --color-product-library-selectable-tertiary-on-selected-enabled-fill: #202020;
  --color-product-library-selectable-tertiary-on-selected-enabled-tint: #202020;
  --color-product-library-selectable-tertiary-on-unselected-disabled-fill: #c7c7c7;
  --color-product-library-selectable-tertiary-on-unselected-disabled-tint: #b2b2b2;
  --color-product-library-selectable-tertiary-on-unselected-enabled-fill: #aaa;
  --color-product-library-selectable-tertiary-on-unselected-enabled-tint: #666;

  --text-tiny: 8px;
  --text-xsmall: 10px;
  --text-small: 11px;
  --text-compact: 12px;
  --text-normal: 13px;
  --text-content: 14px;
  --text-content-large: 16px;
  --text-large: 18px;
  --text-header: 20px;
  --text-header-large: 24px;
  --text-header-xlarge: 32px;


  --font-weight-regular: 400;
  --font-weight-x-regular: 500;
  --font-weight-medium: 600;
  --font-weight-strong: 700;

  --editor-max-width: 800px;
  --editor-top-padding: 48px;
  --editor-side-padding: 55px;
  --left-menu-padding-top: 30px;
  --left-menu-padding-top-mini: 18px;
  --viewpoint-mini-min-width: 350px;
  --avatar-size-tiny: 24px;
  --avatar-size-xsmall: 18px;
  --avatar-size-small: 30px;
  --avatar-size-medium: 34px;
  --avatar-size-large: 50px;
  --avatar-size-xlarge: 80px;
  --avatar-image-size-tiny: 16px;
  --avatar-image-size-small: 28px;
  --product-library-shadow-raised-1: 0px 4px 10px 0px rgba(0, 0, 0, 0.1),
    0px 8px 18px 4px rgba(0, 0, 0, 0.05);
  --product-library-shadow-raised-2: 0px 8px 32px 2px rgba(0, 0, 0, 0.14),
    0px 4px 7px 6px rgba(0, 0, 0, 0.09);
  --product-library-shadow-raised-3: 0px 16px 50px 0px rgba(0, 0, 0, 0.35),
    0px 4px 7px 0px rgba(0, 0, 0, 0.08);

  --scrollbar-thumb-idle: #c1c1c1;
  --scrollbar-thumb-hover: #848484;
  --scrollbar-thumb-track: #fafafa;

  --reactist-avatar-size-xxsmall: 16px;
  --reactist-avatar-size-xsmall: 20px;
  --reactist-avatar-size-small: 30px;
  --reactist-avatar-size-medium: 32px;
  --reactist-avatar-size-large: 34px;
  --reactist-avatar-size-xlarge: 48px;
  --reactist-avatar-size-xxlarge: 70px;
  --reactist-avatar-size-xxxlarge: 100px;

  --spacing-xsmall: 4px;
  --spacing-small: 8px;
  --spacing-medium: 12px;
  --spacing-large: 16px;
  --spacing-xlarge: 24px;
  --spacing-xxlarge: 32px;

}
